<html xmlns:th="https://www.thymeleaf.org">
<body>

<div th:if="${message}">
  <h2 th:text="${message}"/>
</div>

<div>
  <form method="POST" enctype="multipart/form-data" action="/">
    <table>
      <tr><td>File to upload:</td><td><input type="file" name="file" accept="image/png, image/jpeg"/></td></tr>
      <tr><td></td><td><input type="submit" value="Upload" /></td></tr>
      <tr><td>File size restricted to 12 MB</td></tr>
      <tr><td>File type jpeg or png</td></tr>
    </table>
  </form>
</div>

<div>
  <ul>
    <li th:each="file : ${files}">
      <a th:href="${file}" th:text="${file}" />
      <img th:src="@{${file}}" width="200" height="300"/>
    </li>
  </ul>
</div>

</body>
</html>
